@model EStable.ViewModels.UserOfStableViewModels.Wizard.StepThree.StandardChargeTypeViewModel

<div class="messagepop pop-standard-charge">
    <form method="POST" id="new_standard-charge">
        <p><input class="form-control" placeholder="Description" type="text" size="30" name="description" id="std-description" /></p>
        <p><input class="form-control" placeholder="Rate" type="text" size="30" name="rate" id="std-rate" /></p>
        <p><a class="btn btn-lg btn-primary" href="#" id="submit-add-standard-charge">Add Charge</a>  <a class="btn btn-lg btn-default" id="close-standard-charge" href="#">Cancel</a></p>
    </form>
</div>