<div class="messagepop pop-import-stable-charge">
    <form method="POST" id="import_stable_charge">
        <p><input class="form-control" placeholder="Unit" type="text" size="30" name="unit" id="stbl-unit" /></p>
        <p>
            <label for="instable">In Stable</label>  
            <input class="form-control" type="radio" name="instable" value="yes"/>Yes<br/>
            <input class="form-control" type="radio" name="instable" value="no"/>No
        </p>
        <p><input class="form-control" placeholder="Description" type="text" size="30" name="description" id="stbl-description" /></p>
        <p><input class="form-control" placeholder="Rate" type="text" size="30" name="rate" id="stbl-rate" /></p>
        <p><a class="btn btn-lg btn-primary" href="#" id="submit-add-stable-charge">Add Charge</a> 
           <a class="btn btn-lg btn-default" id="close-stable-charge" href="#">Cancel</a></p>
    </form>
</div>